# LaTeX files
*.aux
*.log
*.out
*.toc
*.pdf
*.tex

# folders
notebooks/
notebooks/.ipynb_checkpoints/

# python
*.egg-info/
dist/
build/
__pycache__/
*.pyc

#envs 
.env
.venv/
env/
venv/

# configs
.vscode/
.idea/

#.sh build
build.sh